# Base de Données
DB_USERNAME=macrotrack
DB_PASSWORD=macrotrack_par_samy_touddimte

# Sécurité (JWT)
# Générer une clé d'au moins 256 bits (ex: openssl rand -base64 32)
JWT_SECRET=Q773H+k70G3zW60D9/7xJjJ1T1nO1sU1xO1sU1xO1sU1xO1s
